{% extends "academy/base.html" %}
{% load static %}
{% block title %}<title>SkillUp - Online Learning Platform</title>{% endblock title %}

{% block content %}
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			
			<!-- ============================ Page Title Start================================== -->
			<div class="ed_detail_head">
				<div class="container">
					<div class="row align-items-center justify-content-between mb-2">
					
						<div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
							<div class="dlkio_452">
								<div class="ed_detail_wrap">
									<div class="crs_cates cl_3"><span>{{course.categories}}</span></div>
									<div class="ed_header_caption">
										<h2 class="ed_title">{{course.title}}</h2>
									</div>
									<div class="d-flex align-items-center mt-4">
										<div class="rounded-circle d-flex align-items-center justify-content-center">
										  <img src="{{course.author.avatar.url}}" class="img-fluid circle" width="70" alt="" />
										</div>
										<div class="ml-2 ml-md-3">
										  <span>Created By</span>
										   <h6 class="m-0">{{course.author}}</h6>
										</div>
									</div>
									
								</div>
							</div>	
						</div>
						
						<div class="col-xl-4 col-lg-5 col-md-5 col-sm-12">
							<ul class="row p-0">
								<!-- <li class="col-lg-6 col-md-6 col-sm-6 pt-2 pb-2"><i class="fas fa-star mr-1 text-warning"></i><span>4.9 Star (5,254)</span></li>
								<li class="col-lg-6 col-md-6 col-sm-6 pt-2 pb-2"><i class="fas fa-user mr-1 text-info"></i><span>2,54,740 Enrolled</span></li> -->
								<li class="col-lg-6 col-md-6 col-sm-6 pt-2 pb-2"><i class="fas fa-clock mr-1 text-success"></i><span>4 Hour 47 min</span></li>
								<li class="col-lg-6 col-md-6 col-sm-6 pt-2 pb-2"><i class="fas fa-video mr-1 text-danger"></i><span>47 Lectures</span></li>
							</ul>
						</div>

					</div>
				</div>
			</div>
			<!-- ============================ Page Title End ================================== -->
			
			<!-- ============================ Course Detail ================================== -->
			<section class="gray pt-5">
				<div class="container">
					<div class="row">
					
						<div class="col-lg-8 col-md-12 order-lg-first">

							<iframe id="lecture_frame" src="https://www.youtube.com/embed/5qap5aO4i9" width="770" height="400" frameborder="0" allowfullscreen="" allow="autoplay"></iframe>
							
							<!-- All Info Show in Tab -->
							<div class="tab_box_info mt-4">
								<ul class="nav nav-pills mb-3 light" id="pills-tab" role="tablist">
									<li class="nav-item">
										<a class="nav-link active" id="overview-tab" data-toggle="pill" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="curriculum-tab" data-toggle="pill" href="#curriculum" role="tab" aria-controls="curriculum" aria-selected="false">Curriculum</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="instructors-tab" data-toggle="pill" href="#instructors" role="tab" aria-controls="instructors" aria-selected="false">Instructor</a>
									</li>
									{% if course.rate != 0 %}
										<li class="nav-item">
											<a class="nav-link" id="reviews-tab" data-toggle="pill" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Reviews</a>
										</li>
									{% endif %}
								</ul>
							
								<div class="tab-content" id="pills-tabContent">
									
									<!-- Overview Detail -->
									<div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
										<!-- Overview -->
										<div class="edu_wraper">
											<h4 class="edu_title">Course Overview</h4>
											<p>{{ course.description }}</p>
											<h6>Requirements</h6>
											<ul class="simple-list p-0">
												{% if course.requirements %}
												{% comment %} {% for req in course.requirements %} {% endcomment %}
													<li>{{course.requirements}}</li>
												{% comment %} {% endfor %} {% endcomment %}
												{% else %}
													<li>At vero eos et accusamus et iusto odio dignissimos ducimus</li>
													<li>At vero eos et accusamus et iusto odio dignissimos ducimus</li>
													<li>At vero eos et accusamus et iusto odio dignissimos ducimus</li>
													<li>At vero eos et accusamus et iusto odio dignissimos ducimus</li>
													<li>At vero eos et accusamus et iusto odio dignissimos ducimus</li>
												{% endif %}
											</ul>
										</div>
									</div>
									
									<!-- Curriculum Detail -->
									<div class="tab-pane fade" id="curriculum" role="tabpanel" aria-labelledby="curriculum-tab">
										<div class="edu_wraper">
											<h4 class="edu_title">Course Circullum</h4>
											<div id="accordionExample" class="accordion shadow circullum">

												<!-- Part 1 -->
											{% if source %}	

											{% for src in source %}
												<div class="card">
												  <div id="headingOne" class="card-header bg-white shadow-sm border-0">
													<h6 class="mb-0 accordion_title"><a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="d-block position-relative text-dark collapsible-link py-2">
														{{src.themes}}
													</a></h6>
												  </div>
												  <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample" class="collapse show">
													<div class="card-body pl-3 pr-3">
														<ul class="lectures_lists">

															{% for sour in source %}
																<li class="complete video" data-url="{{sour.video}}"><div class="lectures_lists_title"><i class="fas fa-play dios"></i></div>{{src.title}}<span class="cls_timing">40:20</span></li>
															{% endfor %}
															
															
															<!-- <li class="complete"><div class="lectures_lists_title"><i class="fas fa-check dios"></i></div>Startup Designing with HTML5 & CSS3<span class="cls_timing">20:12</span></li>
															<li class="unview"><div class="lectures_lists_title"><i class="fa fa-lock dios lock"></i></div>How To Call Google Map iFrame<span class="cls_timing">32:10</span></li>
															<li class="unview"><div class="lectures_lists_title"><i class="fa fa-lock dios lock"></i></div>Create Drop Down Navigation Using CSS3<span class="cls_timing">25:05</span></li>
															<li class="unview"><div class="lectures_lists_title"><i class="fa fa-lock dios lock"></i></div>How to Create Sticky Navigation Using JS<span class="cls_timing">18:10</span></li> -->


														</ul>
													</div>
												  </div>
												</div>
											{% endfor %}	
											{% else %}
												No founded sources
											{% endif %}

												<!-- Part 2 -->
												<div class="card">
												  <div id="headingTwo" class="card-header bg-white shadow-sm border-0">
													<h6 class="mb-0 accordion_title"><a href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="d-block position-relative collapsed text-dark collapsible-link py-2">Part 02: Learn Web Designing in Basic Level</a></h6>
												  </div>
												  <div id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionExample" class="collapse">
													<div class="card-body pl-3 pr-3">
														<ul class="lectures_lists">
															<li class="unview"><div class="lectures_lists_title"><i class="fa fa-lock dios lock"></i></div>How To Call Google Map iFrame<span class="cls_timing">32:10</span></li>
															<li class="unview"><div class="lectures_lists_title"><i class="fa fa-lock dios lock"></i></div>How To embed video in html5 banner?<span class="cls_timing">32:10</span></li>
															<li class="unview"><div class="lectures_lists_title"><i class="fa fa-lock dios lock"></i></div>How to use SVG card in html5?<span class="cls_timing">32:10</span></li>
															<li class="unview"><div class="lectures_lists_title"><i class="fa fa-lock dios lock"></i></div>Create Drop Down Navigation Using CSS3<span class="cls_timing">25:05</span></li>
															<li class="unview"><div class="lectures_lists_title"><i class="fa fa-lock dios lock"></i></div>How to Create Sticky Navigation Using JS<span class="cls_timing">18:10</span></li>
														</ul>
													</div>
												  </div>
												</div>

											</div>
										</div>
									</div>
									
									<!-- Instructor Detail -->
									<div class="tab-pane fade" id="instructors" role="tabpanel" aria-labelledby="instructors-tab">
										<div class="single_instructor">
											<div class="single_instructor_thumb">
												<a href="{{course.author.id}}"><img src="{{course.author.avatar.url}}" class="img-fluid" alt=""></a>
											</div>
											<div class="single_instructor_caption">
												<h4><a href="{{ course.author.id }}">{{ course.author }}</a></h4>
												<ul class="instructor_info">
													<li><i class="ti-video-camera"></i>72 Videos</li>
													<li><i class="ti-control-forward"></i>102 Lectures</li>
												</ul>
												<p>{{course.author.short_description}}</p>
												<ul class="social_info">

													{% if course.author.instagram %}
														<li><a href="{{ course.author.instagram }}"><i class="ti-instagram"></i></a></li>
													{% elif course.author.facebook %}
														<li><a href="{{ course.author.facebook }}"><i class="ti-facebook"></i></a></li>
													{% elif course.author.linked_in %}
														<li><a href="{{ course.author.linked_in }}"><i class="ti-linkedin"></i></a></li>
													{% elif course.author.git_hub %}
														<li><a href="{{ course.author.git_hub }}"><i class="ti-github"></i></a></li>
													{% elif course.author.portfolio %}
														<li><a href="{{ course.author.portfolio }}"><i class="ti-world"></i></a></li>
													{% else %}
														<li><a href="#"><i class="ti-facebook"></i></a></li>
														<li><a href="#"><i class="ti-twitter"></i></a></li>
														<li><a href="#"><i class="ti-linkedin"></i></a></li>
														<li><a href="#"><i class="ti-instagram"></i></a></li>
													{% endif %}

												</ul>
											</div>
										</div>
									</div>
									
									<!-- Reviews Detail -->
									<div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
										
										{% if course.rate != 0 %}
										<!-- Overall Reviews -->
										<div class="rating-overview">
											<div class="rating-overview-box">
												<span class="rating-overview-box-total">4.2</span>
												<span class="rating-overview-box-percent">out of 5.0</span>
												<div class="star-rating" data-rating="5"><i class="ti-star"></i><i class="ti-star"></i><i class="ti-star"></i><i class="ti-star"></i><i class="ti-star"></i>
												</div>
											</div>

											<div class="rating-bars">
												<div class="rating-bars-item">
													<span class="rating-bars-name">5 Star</span>
													<span class="rating-bars-inner">
														<span class="rating-bars-rating high" data-rating="4.7">
															<span class="rating-bars-rating-inner" style="width: 85%;"></span>
														</span>
														<strong>85%</strong>
													</span>
												</div>
												<div class="rating-bars-item">
													<span class="rating-bars-name">4 Star</span>
													<span class="rating-bars-inner">
														<span class="rating-bars-rating good" data-rating="3.9">
															<span class="rating-bars-rating-inner" style="width: 75%;"></span>
														</span>
														<strong>75%</strong>
													</span>
												</div>
												<div class="rating-bars-item">
													<span class="rating-bars-name">3 Star</span>
													<span class="rating-bars-inner">
														<span class="rating-bars-rating mid" data-rating="3.2">
															<span class="rating-bars-rating-inner" style="width: 52.2%;"></span>
														</span>
														<strong>53%</strong>
													</span>
												</div>
												<div class="rating-bars-item">
													<span class="rating-bars-name">1 Star</span>
													<span class="rating-bars-inner">
														<span class="rating-bars-rating poor" data-rating="2.0">
															<span class="rating-bars-rating-inner" style="width:20%;"></span>
														</span>
														<strong>20%</strong>
													</span>
												</div>
											</div>
										</div>
							
										<!-- Reviews -->
										<div class="list-single-main-item fl-wrap">
											<div class="list-single-main-item-title fl-wrap">
												<h3>Item Reviews -  <span> 3 </span></h3>
											</div>
											<div class="reviews-comments-wrap">
												<!-- reviews-comments-item -->  
												<div class="reviews-comments-item">
													<div class="review-comments-avatar">
														<img src="https://via.placeholder.com/500x500" class="img-fluid" alt=""> 
													</div>
													<div class="reviews-comments-item-text">
														<h4><a href="#">Josaph Manrty</a><span class="reviews-comments-item-date"><i class="ti-calendar theme-cl"></i>27 Oct 2019</span></h4>
														
														<div class="listing-rating"><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i></div>
														<div class="clearfix"></div>
														<p>" Commodo est luctus eget. Proin in nunc laoreet justo volutpat blandit enim. Sem felis, ullamcorper vel aliquam non, varius eget justo. Duis quis nunc tellus sollicitudin mauris. "</p>
														<div class="pull-left reviews-reaction">
															<a href="#" class="comment-like active"><i class="ti-thumb-up"></i> 12</a>
															<a href="#" class="comment-dislike active"><i class="ti-thumb-down"></i> 1</a>
															<a href="#" class="comment-love active"><i class="ti-heart"></i> 07</a>
														</div>
													</div>
												</div>
												<!--reviews-comments-item end-->  
												
												<!-- reviews-comments-item -->  
												<div class="reviews-comments-item">
													<div class="review-comments-avatar">
														<img src="https://via.placeholder.com/500x500" class="img-fluid" alt=""> 
													</div>
													<div class="reviews-comments-item-text">
														<h4><a href="#">Rita Chawla</a><span class="reviews-comments-item-date"><i class="ti-calendar theme-cl"></i>2 Nov May 2019</span></h4>
														
														<div class="listing-rating"><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star"></i></div>
														<div class="clearfix"></div>
														<p>" Commodo est luctus eget. Proin in nunc laoreet justo volutpat blandit enim. Sem felis, ullamcorper vel aliquam non, varius eget justo. Duis quis nunc tellus sollicitudin mauris. "</p>
														<div class="pull-left reviews-reaction">
															<a href="#" class="comment-like active"><i class="ti-thumb-up"></i> 12</a>
															<a href="#" class="comment-dislike active"><i class="ti-thumb-down"></i> 1</a>
															<a href="#" class="comment-love active"><i class="ti-heart"></i> 07</a>
														</div>
													</div>
												</div>
												<!--reviews-comments-item end-->
												
												<!-- reviews-comments-item -->  
												<div class="reviews-comments-item">
													<div class="review-comments-avatar">
														<img src="https://via.placeholder.com/500x500" class="img-fluid" alt=""> 
													</div>
													<div class="reviews-comments-item-text">
														<h4><a href="#">Adam Wilsom</a><span class="reviews-comments-item-date"><i class="ti-calendar theme-cl"></i>10 Nov 2019</span></h4>
														
														<div class="listing-rating"><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i></div>
														<div class="clearfix"></div>
														<p>" Commodo est luctus eget. Proin in nunc laoreet justo volutpat blandit enim. Sem felis, ullamcorper vel aliquam non, varius eget justo. Duis quis nunc tellus sollicitudin mauris. "</p>
														<div class="pull-left reviews-reaction">
															<a href="#" class="comment-like active"><i class="ti-thumb-up"></i> 12</a>
															<a href="#" class="comment-dislike active"><i class="ti-thumb-down"></i> 1</a>
															<a href="#" class="comment-love active"><i class="ti-heart"></i> 07</a>
														</div>
													</div>
												</div>
												<!--reviews-comments-item end-->
												
											</div>
										</div>
										
										<!-- Submit Reviews -->
										<div class="edu_wraper">
											<h4 class="edu_title">Submit Reviews</h4>
											<div class="review-form-box form-submit">
												<form>
													<div class="row">
														
														<div class="col-lg-6 col-md-6 col-sm-12">
															<div class="form-group">
																<label>Name</label>
																<input class="form-control" type="text" placeholder="Your Name">
															</div>
														</div>
														
														<div class="col-lg-6 col-md-6 col-sm-12">
															<div class="form-group">
																<label>Email</label>
																<input class="form-control" type="email" placeholder="Your Email">
															</div>
														</div>
														
														<div class="col-lg-12 col-md-12 col-sm-12">
															<div class="form-group">
																<label>Review</label>
																<textarea class="form-control ht-140" placeholder="Review"></textarea>
															</div>
														</div>
														
														<div class="col-lg-12 col-md-12 col-sm-12">
															<div class="form-group">
																<button type="submit" class="btn theme-bg btn-md">Submit Review</button>
															</div>
														</div>
														
													</div>
												</form>
											</div>
										</div>
										{% endif %}
							
									</div>
									
								</div>
							</div>
							
						</div>
						
						<!-- Sidebar -->
						<div class="col-lg-4 col-md-12 order-lg-last">
							
							<div class="ed_view_box style_2 border ovrlio stick_top min">
								<div class="ed_author">
									{% if course.price != 0%}
										<h2 class="theme-cl m-0">${{course.price}}<span class="old_prc">$299</span></h2>
									{% else %}									
										<h2 class="theme-cl m-0">Free</span></h2>
									{% endif %}
								</div>
								<div class="ed_view_link">
									<a href="#" class="btn theme-bg enroll-btn">Enroll Now<i class="ti-angle-right"></i></a>
								</div>
								<div class="ed_view_features">
									<div class="eld mb-3">
										<h5 class="font-medium">This Course Include:</h5>
										<p>{{course.course_include}}</p>
									</div>
									<div class="eld mb-3">
										<ul class="edu_list right">
											<li><i class="ti-files"></i>Topic:<strong>{{course.categories}} {{course.title}}</strong></li>
											<li><i class="ti-game"></i>Quizzes:<strong>4</strong></li>
											<li><i class="ti-time"></i>Class:<strong>32 Lectures</strong></li>
											<li><i class="ti-tag"></i>Skill Level:<strong>{{course.level}}</strong></li>
										</ul>
									</div>
								</div>
								
							</div>
							
						</div>
					</div>
					
				</div>
			</section>
			
			<!-- ============================ Course Detail ================================== -->

<!-- Click script for URl  -->
<script src="/static/assets/js/jquery.min.js"></script>

<script>
	// on click to class="lectures_lists">li send get url from base and send to <iframe src="url">

	$(document).ready(function(){
		$('.video').on("click", function(){
			var url = $(this).attr('data-url');
			$('#lecture_frame').attr('src',url);
		});
	});

	function loadIframe(iframeName, url) {
    var $iframe = $('#' + iframeName);
    if ($iframe.length) {
        $iframe.attr('src',url);
        return false;
    }
    return true;
}
	
</script>


{% endblock content %}